<h1>Game Description</h1>
<p>
	1. Available actions: Numbers 1 to 6 <br>
	2. Meaning of Vectors: <br>
		 &nbsp; &nbsp;The identification of relative location of an object from taxi agent <br>
		 &nbsp; &nbsp;i.e. vector (0, 0) indicates that object and taxi agent are at same location <br>
	3.	Rewards: <br>
			&nbsp; &nbsp;After each action a reward value will be showed depending on the optimality of the action taken i.e. -1 or +10 <br>
</p>

<%= link_to 'Play', games_Play_path %>