<h1>Game Description</h1>
<p>
	1. Available actions: Numbers 1 to 6 <br>
		Note: Action taken on each number will be random <br>
	2. Meaning of Vectors: <br>
		 The identification of relative location of an object from taxi agent <br>
	3. Features related to objects <br>
		Wall	 :	<br>
		Taxi	 :	touching_wall_on_north, touching_wall_on_south, touching_wall_on_east, touching_wall_on_west <br>
		Passanger:	in_taxi <br>
	4.	Rewards: <br>
			After each action a reward value will be showed depending on the optimality of the action taken i.e. -1 or +10 <br>
</p>

<%= link_to 'Play', games_Play_path %>