<html>
    <head>
        <title>Play</title>
        <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/table.css"> </link>
        <script type="text/javascript" src="../../assets/javascripts/game_logic.js">
		</script>
    </head>
    <body>
    	<div align="center">
    		<h1> Taxi Game </h1>	
    	</div>
    	
        <div class="wrapper" align="center" style="padding-top: 10px">
            <canvas align="center" id="game" width="400" height="10" tabindex="0">

            </canvas>

		<table id="summary" class="tg">
		<tr>
    		<th class="tg-s6z2" colspan="2">Destination</th>
    		<th class="tg-s6z2" colspan="2">(-3, 3)</th>
  		</tr>
  		<tr>
    		<th class="tg-s6z2" colspan="2">Reward</th>
    		<th class="tg-s6z2" colspan="2">0</th>
  		</tr>
  		<tr>
    		<td class="tg-s6z2">Object</td>
    		<td class="tg-s6z2">Location</td>
    		<td class="tg-s6z2">Additional Features</td>
    		<td class="tg-031e"></td>
  		</tr>
  		<tr>
    		<td class="tg-031e">A1</td>
    		<td class="tg-031e">(-3, -1)</td>
    		<td class="tg-031e">State</td>
    		<td class="tg-031e">1</td>
  		</tr>
  		<tr>
    		<td class="tg-031e">B1_N</td>
    		<td class="tg-031e">(0, -1)</td>
    		<td class="tg-031e"></td>
    		<td class="tg-031e"></td>
  		</tr>
  		<tr>
    		<td class="tg-031e">B2_S</td>
    		<td class="tg-031e">(0, 2)</td>
    		<td class="tg-031e"></td>
    		<td class="tg-031e"></td>
  		</tr>
  		<tr>
    		<td class="tg-031e">B3_E</td>
    		<td class="tg-031e">(1, 0)</td>
    		<td class="tg-031e"></td>
    		<td class="tg-031e"></td>
  		</tr>
  		<tr>
    		<td class="tg-031e">B4_W</td>
    		<td class="tg-031e">(-1, 0)</td>
    		<td class="tg-031e"></td>
    		<td class="tg-031e"></td>
  		</tr>
		</table>
		</div>
		
		<script type="text/javascript">
			/*
		 	* Listen for keypress event
		 	*/
			var el = document.getElementById("game");
			el.onkeydown = function(evt) {
                evt = evt || window.event;
                if(evt.keyCode == 49) { //1
                	actions[0]();
                }
                else if(evt.keyCode == 50) { //2
                	actions[1]();
                }
                else if(evt.keyCode == 51) { //3
                	actions[2]();
                }
                else if(evt.keyCode == 52) { //4
                	actions[3]();
                }
                else if(evt.keyCode == 53) { //5
                	actions[4]();
                }
                else if(evt.keyCode == 54) { //6
                	actions[5]();
                }
                else {
                	alert("Invalid key");
                	shuffle();
                }
            };
		</script>
    </body>
</html>